body {
    background-image: url("imgs/bg.gif");
    background-size: 100%;
}

button {
    width: 256px;
    height: 128px;
    font-size: 24px;
    border-style: solid;
    border-width: 4px;
    border-color: darkblue;
    margin-bottom: 8px;
}

.main {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

.floor {
    width: 100vw;
}

.avatar {
    position: absolute;
    max-width: 128px;
}

#instructions {
    margin-top: 30vh;
}